.entirePage{
  width: 50%;
  margin: auto;
}
.menu-flex{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.flex-item{
  display: inline;
  float: left;
  
}
.specialCell{
  display: flex;
  padding-top: 20px;
  font-weight: 800;
}
.menu-flex a{
text-decoration: none;
color: black;
font-weight: bold;
background-color: white;
}
#item{
  text-emphasis-color: red;
}
.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
a{
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
h5{
   padding: auto;
  text-align: right;
  display: inline-block;
  font-size: 10px;
  text-emphasis-color: grey;
}
.beginning h5{
  font-weight: 50;
  font-style: italic;
  text-decoration-color: grey;
}